.dashboard-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.306); 
    max-height: 12vh;
    padding-left: 9rem; /* Adjust the value to match the menu width */
}

.welcome-text {
    color: grey;
    font-size: small;
    font-style: italic;
    margin-top: -15px;
}

.date {
    align-items: right;
    color: grey;
}

.dashboard-cards {
    display: flex;
    padding-left: 12rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    max-height: 40vh;
}

.card {
    height: 40px;
    width: 150px;
    text-align: center;
    margin: 15px;
}